@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --button-padding: 10px;
}

* {
    padding: none;
    margin: 0;
    box-sizing: border-box;
    cursor: none;
}

#trailer {
    height: 20px;
    width: 20px;
    /*background-color: lightgray;*/
    background-color: transparent;
    border: 2px solid lightgray;
    border-radius: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
}

body:hover > #trailer {
    opacity: 1;
}

#trailer2 {
    height: 10px;
    width: 10px;
    background-color: lightgray;
    border-radius: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
}

body:hover > #trailer2 {
    opacity: 1;
}

body {
    background-color: #000000;
    min-height: 100vh;
    overflow-x: hidden;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 5px;
}

p {
    color: white;
}

.description {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
}

.socials {
    align-items: center;
    display: flex;
}

.fa {
    color: white;
    text-decoration: none;
    text-align:center;
    padding: 20px;
}

.fa:before {
    font-size: 1.5em;
}

.yugen > img {
    width: 1.5em;
}

.landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-grid {
    display: grid;
    margin: 10%;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.main-card {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.main-card > img {
    margin:25px;
}

.main-card > h2 {
    font-weight: normal;
    font-size:medium;
    line-height: 25px;
}

.main-card > p {
    padding-top: 10px;
}

.main-logo {
    width: 200px;
    height: 200px;
}

.link {
    color:#FFFFFF;
    text-decoration: none;
}

.button {
    margin: 10px;
    background-color: #1c1c1c;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid white;
}

.render {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
}

.interactable .render {
    overflow: hidden;
    transform: scale(1);
    transition: 500ms ease;
}

.interactable:hover .render {
    transform: scale(1.2);
    box-shadow: 0px 0px 50px 5px gray;
}

.container {
    justify-content: center;
    align-items:center;
    margin-top: 10px;
    display: grid;
    padding:10px;
    width: 100vw;
    gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(300px,300px));
}

footer {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    padding: 25px;
    font-size: 0.75em;
}

.waifus {
    display: grid;
    justify-content: center;
    gap: 10px;
    width: 100vw;
}

.secondary-card {
    display: flex;
    flex-direction: row;
    padding: 0px 50px 0px 50px;
    max-width: 750px;
    width: 100vw;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
}

.information {
    color: white;
}

.information h2 {
    color: gray;
}

.secondary-card img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
}

.secondary-card  h1 {
    text-align: right;
}

.separator {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 45px;
    font-family: 'Montserrat', sans-serif;
}
