* {
    padding: none;
    margin: 0;
}

body {
    background-color: #000000;
}

.landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-grid {
    display: grid;
    margin: 10%;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.main-card {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-logo {
    max-width: 240px;
}